/* COLORS */
$primary-color: #222222;
$tde-green: #ada075;
$light-tde-green: #ebe4ce;
$tde-pink: #ea6060;
$gray: #565d67;
$light-gray: #cdcdcd;
$pale-gray: #f4f4f4;
/* end of COLORS */

/* FONTS */
$regular: "Orgon";
$italic: "Orgon Italic";
$light: "Orgon Light";
$light-italic: "Orgon Light Italic";
$medium: "Orgon Medium";
$medium-italic: "Orgon Medium Italic";
$bold: "Orgon Bold";
$bold-italic: "Orgon Bold Italic";

@font-face{
    font-family: $regular;
    src: url("../fonts/ttf/Orgon-Regular.ttf"), url("../fonts/otf/Orgon-Regular.otf");
    font-weight: 400;
}
@font-face{
    font-family: $italic;
    src: url("../fonts/ttf/Orgon-Italic.ttf"), url("../fonts/otf/Orgon-Italic.otf");
    font-weight: 400;
}
@font-face{
    font-family: $light;
    src: url("../fonts/ttf/Orgon-Light.ttf"), url("../fonts/otf/Orgon-Light.otf");
    font-weight: 300;
}
@font-face{
    font-family: $light-italic;
    src: url("../fonts/ttf/Orgon-LightIt.ttf"), url("../fonts/otf/Orgon-LightIt.otf");
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: $medium;
    src: url("../fonts/ttf/Orgon-Medium.ttf"), url("../fonts/otf/Orgon-Medium.otf");
    font-weight: 600;
}
@font-face{
    font-family: $medium-italic;
    src: url("../fonts/ttf/Orgon-MediumIt.ttf"), url("../fonts/otf/Orgon-MediumIt.otf");
    font-weight: 600;
    font-style: italic;
}
@font-face{
    font-family: $bold;
    src: url("../fonts/ttf/Orgon-Bold.ttf"), url("../fonts/otf/Orgon-Bold.otf");
    font-weight: 800;
}
@font-face{
    font-family: $bold-italic;
    src: url("../fonts/ttf/Orgon-BoldIt.ttf"), url("../fonts/otf/Orgon-BoldIt.otf");
    font-weight: 800;
    font-style: italic;
}
/* end of FONTS */

/* MIXINS */
@mixin uppercase{text-transform: uppercase;}
@mixin lowercase{text-transform: lowercase;}
@mixin transition($val){
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transition: $val;
    -o-transition: $val; 
    transition: $val; 
}
@mixin animation($name, $duration){
    animation-name: $name;
    animation-duration: $duration; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
/* end of MIXINS */

/* KEYFRAMES */
@keyframes b-lightgraytopaletogreen{
    from {background: $light-gray}
    50% {background: $pale-gray}
    to {background: $light-tde-green}
}
@keyframes b-graytodarktogreen{
    from {background: $gray}
    50% {background: $primary-color}
    to {background: $tde-green}
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/* end of KEYFRAMES */


/* OVERRIDE BOOTSTAP SASS */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1132px,
  xxl: 1600px
);
/* end of OVERRIDE BOOTSTAP */



/* CUSTOM STYLES */
//classes
body{
    font-family: $light;
    font-size: 18px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{margin: 0 0 25px;}
p{margin: 0 0 15px;}
b, strong{font-family: $bold}
.btn, .button{
    border: none; 
    outline-style: none; 
    border: none !important;
    font-family: $bold; 
    min-width: 150px; 
    background: $tde-pink;
}
.btn:hover, .button:hover{background: $tde-green}

section{padding: 80px 0}
section h2{font-size: 50px; font-family: $medium;}
.container.narrow{max-width: 1200px;}

//animation class
.fadein{
    opacity: 0;
    animation: fadeIn 1s ease-in both;
}

header .navbar .navbar-nav .nav-link{@include uppercase; padding-right: 1.5rem; padding-left: 1.5rem}
header .navbar .navbar-nav .nav-link.active{position: relative; color: $tde-green}
header .navbar .navbar-nav .nav-link.active::before{
    content: "";
    display: block;
    width: calc(100% - 3rem);
    position: absolute;
    bottom: 0;
    border-bottom: 3px solid $tde-green;
}

#hero{
    background: $light-gray; 
    padding: 10% 0;
    @include animation(b-lightgraytopaletogreen, 4s);   
}
#banner-slider .content-wrapper{padding: 10% 0 0;}
#banner-slider h2{font-size: 50px; color: $primary-color; text-align: center;}
#banner-slider .owl-nav{margin-bottom: 40px;}
#banner-slider .owl-nav button{font-size: 40px; color: $gray; background: none !important; padding: 10px !important;}
#banner-slider .owl-nav button:hover{color: $primary-color}
#banner-slider .carousel-control-prev{width: 50px; left: calc(50% - 50px)}
#banner-slider .carousel-control-next{width: 50px; right: calc(50% - 50px)}
#banner-slider .owl-dots .active span{background: $gray !important}
#banner-slider .owl-dots button span{
    border: 1px solid $gray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: none !important;
    margin: 0 0.75rem;
}

.side-nav .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    top: calc(50% - 60px);
}
.side-nav .owl-nav button:hover{background: none !important}
.side-nav .owl-nav button .arrow{
    border: solid $light-gray;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 30px;
}
.side-nav .owl-nav button:hover .arrow{border-color: $primary-color}
.side-nav .owl-nav button .arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.side-nav .owl-nav button .arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#services{background: $pale-gray}
#service-slider{margin: 60px 0 0}
#service-slider .content-wrapper{padding: 0 10%;}
#service-slider .content-wrapper img{max-height: 160px; width: auto; display: inline-block; border-radius: 50%;}
#service-slider .content-wrapper h3{margin: 50px 0 20px; font-family: $bold;}

.counter-box{margin: 30px 0 0; padding: 0 10%}
.counter-box h3{font-family: $bold; margin: 30px 0 20px; font-size: 34px;}
.counter-box p{color: $gray}

#contact-us .form-control, #contact-us .form-wrapper button{padding: 15px; border-radius: 0}
#contact-us textarea{min-height: 200px}
#contact-us .contact-info{margin: 0}

.social-media-links a{
    display: inline-block;
    font-family: $light;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid $gray;
    margin-right: 1.5rem;
    text-align: center;
    color: $primary-color;
    font-size: 40px;
    line-height: 70px;
    text-decoration: none;
}
.social-media-links a.g span{
    display: inline-block;
    position: relative;
    top: -6px;
}
.social-media-links a:hover{background: $tde-green; border-color: $tde-green; color: #FFF}

footer{
    background: $gray; 
    color: #FFF;
    @include animation(b-graytodarktogreen, 4s);   
}
footer .social-media-links a{color: #FFF; border-color: #FFF}
footer p{margin: 0;}
footer .social-media-links a{margin: 0 10px;}
/* end of CUSTOM STYLES */



//OOPS... FOR BREAKPOINTS ONLY
//Larger than: Medium screen
@media only screen and (min-width: 1500px){
    .side-nav .owl-nav button{position: relative;}
    .side-nav .owl-nav .owl-prev{left: -80px;}
    .side-nav .owl-nav .owl-next{right: -80px;}
}

//Large screen
@media (max-width: 992px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{padding-left: 1.5rem; padding-right: 1.5rem;}

    .navbar-dark .navbar-toggler{color: $tde-green;}
    header .navbar .navbar-nav .nav-link{padding-left: 0; padding-right: 0;}
    header .navbar .navbar-nav .nav-link.active::before{border-width: 1px; bottom: 11px; width: 100%;}
}

//Larger than: Medium screen
@media only screen and (min-width: 768px){

}


//Medium screen
@media only screen and (max-width: 767px){
    h1{font-size: 36px !important; line-height: 1.4 !important}
    h2 {font-size: 34px !important; line-height: 1.4 !important}
    h3 {font-size: 32px !important; line-height: 1.4 !important}
    br{display: none;}
}

//Small screen
@media (max-width: 576px){

}
/* end of CUSTOM STYLES */